.author-data{
  margin-top: 7px;
  border-top: 1px solid #f2f2f2;
  width: 100%;
}

.author-data__slogan{
  margin: 0;
  padding: 19px 0 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.author-data__list{
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.author-data__item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;

}

.author-data__heading{
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: left;
  color: #333333;
}

.author-data__field{
  margin-left: auto;
  padding: 0 20px 0;
  width: 192px;
  min-height: 58px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-transform: none;

  &:hover{
    background-color: #e5e5e5;
  }

  &:focus{
    padding-left: 16px;
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.author-data__field--name{
  width: 230px;
}

@media(min-width: @tablet-width){

  .author-data{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 324px;
  }

  .author-data__slogan{
    margin-right: 104px;
    padding-top: 41px;
    font-size: 21px;
  }

  .author-data__heading{
    margin-right: 13px;
  }

  .author-data__list{
    margin-top: 38px;
  }

  .author-data__field{
    width: 178px;
  }

  .author-data__field--name{
    width: 216px;
  }
}

@media(min-width: @desktop-width){

  .author-data{
    width: 480px;
  }

  .author-data__slogan{
    margin-right: 243px;
  }

  .author-data__field{
    width: 314px;
  }

  .author-data__field--name{
    width: 350px;
  }
}
