.author-contacts{
  border-top: 1px solid #f2f2f2;
  margin-top: 5px;
}

.author-contacts__slogan{
  margin-top: 18px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.author-contacts__list{
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.author-contacts__item{
  position: relative;
  margin-bottom: 10px;
}

.author-contacts__heading{
  padding: 0 20px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #333333;
}

.author-contacts__field{
  margin-top: 8px;
  padding: 0 0 0 23px;
  min-height: 58px;
  width: 280px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: left;
  text-transform: none;

  &:hover{
    background-color: #e5e5e5;
  }

  &:focus{
    padding-left: 19px;
    border: 4px solid #e5e5e5;
    background-color: #ffffff;
  }
}

.author-contacts__btn{
  position: absolute;
  border: none;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
}

.author-contacts__btn--phone{
  top: 35px;
  right: 0;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.author-contacts__btn--mail{
  bottom: 0;
  right: 0;
  background-image: url(../img/icon-mail.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media(min-width: @tablet-width){
  .author-contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: none;
  }

  .author-contacts__slogan{
    position: relative;
    margin-bottom: 25px;
    font-size: 21px;
    background-color: #ffffff;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -185px;
      width: 125px;
      height: 1px;
      background-color: #f2f2f2;
    }

     &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: -185px;
      width: 125px;
      height: 1px;
      background-color: #f2f2f2;
    }
  }

  .author-contacts{
    align-items: center;
  }

  .author-contacts__list{
    width: 648px;
    padding: 0;
  }

  .author-contacts__item{
    margin-bottom: 20px;
  }

  .author-contacts__field{
    width: 648px;
  }
}

@media(min-width: @desktop-width){

    .author-contacts{
    margin-top: 0px;
  }

  .author-contacts__slogan{
    margin-bottom: 64px;

    &::before{
      content: "";
      position: absolute;
      top: 50%;
      left: -340px;
      width: 278px;
      height: 1px;
      background-color: #f2f2f2;
    }

     &::after{
      content: "";
      position: absolute;
      top: 50%;
      right: -340px;
      width: 278px;
      height: 1px;
      background-color: #f2f2f2;
    }
  }

  .author-contacts__heading{
    padding: 10px 15px 0 0;
  }

  .author-contacts__heading span{
    display: none;
  }

  .author-contacts__list{
    display: flex;
    justify-content: space-between;
    width: 960px;
  }

  .author-contacts__item{
    display: flex;
    align-items: center;
  }

  .author-contacts__field{
    width: 315px;
  }

  .author-contacts__btn--phone{
  top: 8px;
  }
}
