.booking__header{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.booking__description{
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.booking__find{
  min-height: 58px;
  width: 280px;
  border: none;
  background-color: #81b3d2;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;
}
