.booking{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.booking__header{
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.booking__description{
  margin: 17px 0 35px;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
}

.booking__map{
  width: 320px;
  height: 350px;
}

.booking__find{
  min-height: 58px;
  width: 280px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: @bg-blue;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;

  &:hover{
    background-color: #669ec0;
  }

  &:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media(max-width: @mobile-width-only){
  .booking{
    padding: 28px 20px 0;
  }

  .booking__find{
    margin-bottom: 50px;
  }
}

@media(min-width: @tablet-width){
  .booking{
    padding: 0;
    margin-top: 54px;
  }

  .booking__find{
    margin: 5px 0 60px;
    width: 458px;
  }

  .booking__map{
    width: 768px;
  }

  .booking__header{
    font-size: 30px;
  }

  .booking__description{
    padding: 0 100px;
    margin-top: 33px;
  }
}

@media(min-width: @desktop-width){
  .booking__description{
    padding: 0 365px;
  }

  .booking__map{
    width: 1200px;
  }

  .booking__find{
    margin: 11px 0 66px;
  }
}
