.essay{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.essay__slogan{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.essay__field{
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  text-align: left;
  color: #000000;
}

@media(min-width: @tablet-width){

  .essay{
    width: 648px;
  }

  .essay__field{
    width: 100%;
  }
}

@media(min-width: @desktop-width){
  .essay{
    margin-top: 58px;
    width: 960px;
  }

  .essay__field{
    width: 100%;
  }

}
