.essay{

}

.essay__slogan{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.essay__field{
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  text-align: left;
  color: #000000;
}
