.feedback{
  margin-bottom: 37px;

}

.feedback__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__btn{
  min-height: 58px;
  width: 280px;
  margin-top: 52px;
  padding: 0;
  border: none;
  background-color: @bg-blue;
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 26px;
  color: #ffffff;

  &:hover{
    background-color: #669ec0;
  }

  &:active{
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
  }
}

@media(min-width: @tablet-width){

  .feedback{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .feedback__form{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 648px;
  }

  .feedback__btn{
    margin-top: 58px;
    width: 324px;
  }
}

@media(min-width: @desktop-width){

  .feedback__form{
    justify-content: space-between;
    width: 960px;
  }

  .feedback__btn{
    width: 480px;
  }

}
