.impression{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

.impression__slogan{
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.impression__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.impression__item{
  min-height: 50px;
  margin-bottom: 20px;

}

.impression__field{

}

.impression__heading{
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  text-align: left;
}

@media(min-width: @tablet-width){

  .impression{
    width: 324px;
    order: -1;
  }
}

@media(min-width: @desktop-width){
  .impression{
    width: 480px;
  }
}
