.main-screen{
  position: relative;
  padding-top: 50px;
  min-height: 156px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position-x: center;
  background-position-y: bottom;
  background-size: 241%;
  text-align: center;

  &::before{
    content: url(../img/bg-intro-triangle-mobile.svg);
    position: absolute;
    bottom: -8px;
    right: 0;
  }
}

.main-screen--index{
  padding-top: 90px;
  min-height: 389px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position-x: center;
}

.main-screen__badge{

}

.main-screen__badge--index{

}

@media(min-width: @tablet-width){

  .main-screen--index{
    min-height: 518px;
  }

  .main-screen--index::before{
    display: none;
  }

  .main-screen--index::after{
    content: url(../img/bg-intro-triangle-tablet.svg);
    position: absolute;
    bottom: -8px;
    right: 0px;
  }

  .main-screen{
    padding: 70px;
  }
}

@media(min-width: @desktop-width){

.main-screen--index::after{
    content: url(../img/bg-intro-triangle-desktop.svg);
    position: absolute;
    bottom: -8px;
    right: 0px;
  }
}
