.main-intro{

}

.main-intro__slogan{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.main-intro__text{
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
}
