.main-screen{
  position: relative;
  padding-top: 90px;
  min-height: 158px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-size: cover;
  text-align: center;
}

.main-screen--index{
  min-height: 389px;
  background-image: url(../img/bg-back-mobile@1x.jpg);
  background-position-x: center;
}

.main-screen__badge{

}

.main-screen__badge--index{

}

@media(max-width: @mobile-width-only){

  .main-screen--index::after{
    content: url(../img/bg-intro-triangle-mobile.svg);
    position: absolute;
    bottom: -8px;
    right: 0;
  }
}

@media(min-width: @tablet-width){

  .main-screen--index::after{
    content: url(../img/bg-intro-triangle-tablet.svg);
    position: absolute;
    bottom: -8px;
    right: 0px;
  }

  .main-screen{
    padding: 70px;
  }
}

@media(min-width: @desktop-width){

}
