.page-footer{

}

.page-footer__hash-tag{
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.page-footer__social{

}

.page-footer__copyright{

  .copyright__text{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
  }
}
