.page-header{
  position: relative;

}

.page-header__toggle{
  position: absolute;
  top: 285px;
  right: 20px;

}

.page-header__logo{
  position: absolute;
  top: 271px;
  left: 50%;
  transform: translateX(-50%);
}

.page-header__logo-image{

}

@media(min-width: @tablet-width){

  .page-header__logo{
    top: 0;
  }

  .page-header{
    display: flex;
    flex-direction: column;
  }

    .page-header__toggle{
      display: none;
  }
}

@media(min-width: @desktop-width){

}
