.page-header{
  display: flex;
  flex-direction: column;
  min-height: 279px;

}

.page-header__toggle{
  align-self: flex-end;

}

.page-header__logo-image{

}

@media(min-width: @tablet-width){

    .page-header{
      min-height: 56px;
    }

    .page-header__toggle{
      display: none;
    }

}

@media(min-width: @desktop-width){

}
