.photo-bundle{
  list-style: none;
  margin: 0;
  padding: 0;
}

.photo-bundle__scape{

}

.photo-bundle__nature{

}

.photo-bundle__north{

}

.photo-bundle__mounts{

}

.photo-bundle__caption{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.photo-bundle__author{
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.photo-bundle__rating{
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
}
