.photo-bundle{
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.photo-bundle__item{
  margin-top: 42px;
}

.photo-bundle__image{
  display: block;
}

.photo-bundle__scape{
  margin: 0;
}

.photo-bundle__nature{
  margin: -7px 0;
}

.photo-bundle__north{
  margin: 0;
}

.photo-bundle__mounts{
  margin: -10px 0;
}

.photo-bundle__caption-wrapper{
  position: relative;
  padding-top: 5px;
}

.photo-bundle__caption{
  margin: 0;
  padding-top: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;
}

.photo-bundle__author{
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
  text-transform: none;
}

.photo-bundle__rating{
  margin:0;
  padding: 7px 37px;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-align: left;

  &::before{
    content: url(../img/icon-like.svg);
    position: absolute;
    left: 0;
  }
}


@media(min-width: @tablet-width){
  .photo-bundle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 60px;
  }

  .photo-bundle__item:first-child{
    width: 100%;
  }

  .photo-bundle__item{
    width: 324px;
  }

  .photo-bundle__caption-wrapper{
    min-height: 80px;
    background-color: #f2f2f2;
  }
}

@media(min-width: @desktop-width){
  .photo-bundle{
    width: 100%;
    padding: 0px;
  }

  .photo-bundle__item:first-child{
    width: 100%;
  }

  .photo-bundle__item{
    width: 400px;
  }

  .photo-bundle__caption,
  .photo-bundle__author,
  .photo-bundle__rating{
    color: #ffffff;
  }

  .photo-bundle__caption-wrapper{
    position: relative;
    z-index: 1;
    margin-top: -87px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
