.reasons{

}

.reasons__blue-block{
  padding: 77px 20px 22px;
  background-color: @bg-blue;
}

.reasons__slogan{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.reasons__slogan--white{
  color: #ffffff;
}

.reasons__text{
  margin-top: 8px;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
}

.reasons__text--white{
  color: #ffffff;
}

.reasons__features-list{
  list-style: none;
  padding:0;
  margin: 0;
}

.reasons__item{
  position: relative;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.reasons__scape-city{
  width: 320px;
  min-height: 260px;
  background-image: url(../img/main-city-mobile@1x.jpg);
  background-color: rgb(242, 194, 180);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-city-mobile@2x.jpg);
      background-size: 640px auto;
  }
}

.reasons__scape-mounts{
  width: 100%;
  min-height: 260px;
  background-image: url(../img/main-bridge-mobile@1x.jpg);
  background-color: rgb(188, 111, 93);
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-bridge-mobile@2x.jpg);
      background-size: 640px auto;
  }
}

.reasons__pros-list{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

@media(max-width: @mobile-width-only){
  .reasons__item--left{
    text-align: left;
  }

  .reasons__slogan--left{
    margin-top: 30px;
    text-align: left;
  }

  .reasons__text--left{
    margin-top: 12px;
    text-align: left;
    color: #333333;
  }

  .reasons__item--accommodation::after{
    content: "";
    position: absolute;
    top: -12px;
    left: -46px;
    width: 37px;
    height: 36px;
    background-image: url(../img/icon-house.svg);
    background-size: cover;
  }

  .reasons__item--souvenirs::after{
    content: "";
    position: absolute;
    top: -10px;
    left: -46px;
    width: 32px;
    height: 38px;
    background-image: url(../img/icon-gift.svg);
    background-size: cover;
  }

  .reasons__item--food::after{
    content: "";
    position: absolute;
    top: -7px;
    left: -53px;
    width: 40px;
    height: 35px;
    background-image: url(../img/icon-burger.svg);
    background-size: cover;
  }

  .reasons__features-list{
    padding: 7px 21px 22px 71px;
  }

  .reasons__line-2 .reasons__blue-block{
    padding: 40px 15px 21px;
  }

  .reasons__pros-list .reasons__item{
    padding: 28px 32px 11px;
  }

  .reasons__if-needed{
    display: none;
  }
}

@media(min-width: @tablet-width){
  .reasons{
    display: flex;
    flex-direction: column;
  }

  .reasons__line-1,
  .reasons__line-2{
    display: flex;
  }

  .reasons__line-2{
    flex-direction: row-reverse;
  }

  .reasons__blue-block{
    box-sizing: border-box;
    width: 256px;
    padding: 47px 47px 26px;
  }

  .reasons__features-list,
  .reasons__pros-list{
    display: flex;
    flex-wrap: wrap;
  }

  .reasons__features-list{
    padding-top: 84px;
    position: relative;
  }

  .reasons__item{
    padding: 57px 47px 43px;
    width: 256px;
  }

  .reasons__item--accommodation::before{
    content: "";
    position: absolute;
    top: -25px;
    left: 88px;
    display: block;
    width: 75px;
    height: 72px;
    background-image: url(../img/icon-house.svg);
  }

  .reasons__item--food::before{
    content: "";
    position: absolute;
    top: -20px;
    left: 88px;
    display: block;
    width: 77px;
    height: 68px;
    background-image: url(../img/icon-burger.svg);
  }

  .reasons__item--souvenirs{
    order: 2;

    &::before{
    content: "";
    position: absolute;
    top: -25px;
    left: 95px;
    display: block;
    width: 64px;
    height: 75px;
    background-image: url(../img/icon-gift.svg);
    }
  }

  .reasons__slogan{
    margin-top: 20px;
    font-size: 21px;
  }

  .reasons__slogan--white{
    margin-top: 0px;
  }

  .reasons__text{
    margin-top: 20px
  }

  .reasons__text--white{
    margin-top: 7px;
    margin-bottom: 20px;
  }

.reasons__scape-city{
  width: 512px;
  min-height: 256px;
  background-image: url(../img/main-city-tablet@1x.jpg);
  background-position: center;
  background-size: 512px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-city-tablet@2x.jpg);
      background-size: 1024px auto;
  }
}

.reasons__scape-mounts{
  width: 512px;
  min-height: 256px;
  background-image: url(../img/main-bridge-tablet@1x.jpg);
  background-position: center;
  background-size: 512px auto;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-bridge-tablet@2x.jpg);
      background-size: 1024px auto;
  }
}

  .reasons__pros-list .reasons__item{
    padding: 25px 54px 24px;
  }

  .reasons__pros-list .reasons__text{
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .reasons__line-2 .reasons__slogan--white{
    padding: 0 6px;
  }
}

@media(min-width: @desktop-width){
  .reasons__blue-block{
    width: 400px;
  }

  .reasons__item{
    padding: 57px 50px 43px;
    width: 400px;
  }

  .reasons__item--food{
    padding-top: 60px;

    & .reasons__slogan{
      margin-top: 20px;
    }

    &::before{
      left: 164px;
    }
  }

  .reasons__item--accommodation::before{
    left: 164px;
  }

  .reasons__item--souvenirs::before{
    left: 169px;
  }

  .reasons__item--accommodation .reasons__slogan{
    margin-top: 23px;
  }

  .reasons__slogan{
    padding: 0 70px;
  }

  .reasons__slogan--white{
    padding: 5px 50px;
  }

  .reasons__text--white{
    padding: 0 20px;
  }

  .reasons__scape-city{
    width: 800px;
    background-image: url(../img/main-city-desktop@1x.jpg);
    background-position: center;
    background-size: 800px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-city-desktop@2x.jpg);
      background-size: 1600px auto;
    }
  }

  .reasons__scape-mounts{
    width: 800px;
    background-image: url(../img/main-bridge-desktop@1x.jpg);
    background-position: center;
    background-size: 800px auto;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx){
      background-image: url(../img/main-bridge-desktop@2x.jpg);
      background-size: 1600px auto;
    }
  }

  .reasons__features-list{
    margin-bottom: 20px;
  }

  .reasons__features-list .reasons__text{
    margin-top: 21px;
  }

  .reasons__item--souvenirs .reasons__text{
  padding: 0 44px;
  }

  .reasons__line-2 .reasons__slogan--white{
    padding: 6px 78px;
  }

  .reasons__line-2 .reasons__text--white{
    padding: 0 37px;
  }

  .reasons__pros-list .reasons__item{
    padding-bottom: 46px;
  }

  .reasons__if-needed{
    display: inline;
  }
}



