.sights{

}

.sights__slogan{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.sights__list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.sights__item{

}

.sights__checker{

}

.sights__heading{
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  text-align: left;
}
