.sights{
  margin-top: 15px;
}

.sights__slogan{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.sights__list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0 40px;
}

.sights__item{
  min-height: 50px;
  margin: 31px 0 0;


}

.sights__checker{

}

.sights__heading{
  padding-left: 40px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  text-transform: none;
  text-align: left;
}

@media(min-width: @tablet-width){

  .sights{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 648px;
    margin-top: 33px;
  }

  .sights__slogan{
    padding: 0 130px;
    font-size: 21px;
  }

  .sights__list{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 25px;
    padding: 0 110px;
  }

  .sights__item{
    margin: 31px 0 6px;
  }

  .sights__heading{
    padding-left: 50px;
  }
}

@media(min-width: @desktop-width){

  .sights{
    margin-top: 30px;
    width: 960px;
  }

  .sights__slogan{
    padding: 0 300px;
  }

  .sights__list{
    width: 100%;
    padding: 0;
  }
}
