.social{
  display: flex;
  justify-content: center;
}

.social__list{
  display: flex;
  justify-content: space-between;
  width: 150px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item{

}

.social__link{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: @bg-blue;

  &:hover{
    background-color: #669ec0;
  }

  &:active{
    background-color: #5496bd;
  }
}

.social__link svg{
  fill: #ffffff;

  &:active{
    opacity: 0.3;
  }
}



